// Font Import
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,800);
/************************************************** TYPOGRAPHY *****************************/
$base-font: 'Open Sans', sans-serif;
$variant-font: '', sans-serif;
$base-size: 14;
$base-line-height: 1.4;